body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url('background.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-align: center;
}

.container {
  padding: 50px 20px;
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 700px;
  margin: 50px auto;
  border-radius: 20px;
  box-shadow: 0 0 20px #fff;
}

h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

h1 span {
  color: #ffcc00;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.event h2 {
  margin: 20px 0 10px;
  color: #ffcc00;
}

#countdown {
  margin: 40px 0;
}

#timer {
  font-size: 1.5rem;
  color: #fff;
}

.footer {
  margin-top: 30px;
  font-style: italic;
}

blockquote.quote {
  font-style: italic;
  font-size: 1.1rem;
  margin: 20px auto 40px;
  max-width: 600px;
  color: #ffcc00;
  border-left: 5px solid #ffcc00;
  padding-left: 15px;
}
